<div class="container">
  <form #f="ngForm" (ngSubmit)="save(f.value)">

    <div class="form-group">
      <label for="name">اسم الماده</label>
      <input 
        #name="ngModel"
        [(ngModel)]="subject$.name"
        name="name"
        type="text" 
        class="form-control" 
        required>
    </div>

    <div class="form-group">
      <label for="department">القسم</label>
        <select #department="ngModel" [(ngModel)]="subject$.department" name="department" class="form-control" required>
          <option value=""></option>
          <option value="عام" selected>عام</option>
          <option value="علوم حاسب">علوم حاسب</option>
          <option value="نظم معلومات">نظم معلومات</option>
        </select>
    </div>
    
    <div class="form-group">
      <label for="instructor">اسم الدكتور</label>
      <input 
        #instructor="ngModel"
        [(ngModel)]="subject$.instructor"
        name="instructor"
        type="text" 
        class="form-control" 
        required>
    </div>

    <div class="form-group">
      <label for="classroom">السنه الدراسيه</label>
      <select #classroom="ngModel" [(ngModel)]="subject$.classroom" name="classroom" class="form-control" required>
        <option value=""></option>
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>

    <div class="form-group">
      <label for="semester">الفصل الدراسي</label>
      <select #semester="ngModel" [(ngModel)]="subject$.semester" name="semester" class="form-control" required>
          <option value=""></option>
          <option value="1" selected>1</option>
          <option value="2">2</option>
        </select>
    </div> 

    <button *ngIf="!id" [disabled]= "!f.valid" type="submit" class="btn btn-primary">اضافه المستخدم</button>
    <button *ngIf="id" [disabled]= "!f.valid" type="submit" class="btn btn-primary">تعديل المستخدم</button>
    <button *ngIf="id" type="button" style="margin-right: 10px" class="btn btn-danger" (click)="delete()">حذف المستخدم</button>
  </form>
</div>
    