<div class="container">
  <div class="main">
    <p>
      <a routerLink="/subject-form" class="btn btn-primary">اضافه ماده</a>
    </p>
    <p>
      <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
    </p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>رقم الماده</th>
          <th>اسم الماده</th>
          <th>اسم الدكتور</th>
          <th>السنه الدراسيه</th>
          <th>الفصل الدراسه</th>
          <th>القسم</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of filterSubject$">
          <td>{{ s._id }}</td>
          <td>{{ s.name }}</td>
          <td>{{ s.instructor }}</td>
          <td>{{ s.classroom }}</td>
          <td>{{ s.semester }}</td>
          <td>{{ s.department }}</td>
          <td>
            <a [routerLink]="['/subject-form', s._id]">تعديل</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>
    