.signup {
  margin-bottom: 150px;
}

.signup .black {
  background-color: rgba(0, 35, 71, 0.9);
  width: 80%;
  height: 400px;
  margin: auto;
  margin-top: 100px;
}

.signup .black p {
  display: inline-block;
}

.signup .write {
  overflow: hidden;
  width: 45%;
  height: 400px;
  float: left;
  padding: 100px 0 0 50px;
  color: #fff;

}

.signup .write h2 {
  margin-bottom: 40px;
}

.signup .write p {
  margin-bottom: 40px;
}

.signup .write a {
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 5px 40px;
  font-size: 20px;
}

.signup .write a:hover {
  color: #FDC632;
  background-color: #002347;
  border: 1px solid #002347;
}

.signup .white {
  width: 50%;
  background-color: #fff;
  float: left;
  ;
  margin-top: -40px;
  box-shadow: 3px 3px 16px 6px rgba(0, 35, 71, 0.9);
}

@media(max-width:992px) {
  .signup .white {
    width: 100%;
    background-color: #fff;
    margin-top: -40px;
  }
}

.signup .white h1 {
  margin: 50px auto auto;
  color: #002347;
}

@media(max-width:450px) {
  .signup .white h1 {
    font-size: 25px;
    /* margin-left: 150px; */
    margin: auto;
    margin-top: 50px;
    text-align: center;
  }
}

.signup .white img {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 25px;
}

@media(max-width:450px) {
  .signup .white img {
    width: 70px;
    height: 70px;
    position: absolute;
    margin: 25px;
  }
}

.signup .white .form {
  margin-top: 60px;
}

.signup .white .form input {
  width: 70%;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #002347;
}

.signup .white .form input {
  width: 70%;
  height: 40px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #002347;
}

.signup .white .form a {
  text-decoration: none;
  border: 2px solid #002347;
  padding: 5px 40px;
  font-size: 20px;
  color: #fff;
  background-color: #002347;
  margin-top: 30px;

}

.signup .white .form a:hover {
  border: 2px solid #002347;
  background-color: #002347;
  color: #FDC632;
}

.signup .white .icon {
  margin: 20px 0px;

}

.signup .white .icon a i {
  color: #002347;
  padding-left: 10px;
}

.signup .white .icon a i:hover {
  color: #FDC632;
  transition: all 0.3s ease-in-out;
}

.signup .white .log p {
  color: #989898;
}

.signup .white .log a {
  text-decoration: none;
  color: #002347;
  font-weight: bold;
}

.signup .white .log a:hover {
  border: 2px solid #002347;
  background-color: #002347;
  color: #FDC632;
  padding: 6px 10px;
  transition: all 0.3s ease-in-out;
}


form {
  padding: 130px 28px;
}

.input-group {
  margin-bottom: 21px;
}

.signup[_ngcontent-c3] .white[_ngcontent-c3] img[_ngcontent-c3] {
  position: relative;
  top: -12px;
  left: 185px;
}


.signUp {
  padding: 7px 47px;
  margin: 15px 0 0 162px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}