<div class="signup">
  <div class="containar">
      <div class="black">
          <div class="write d-none d-lg-block">
              <h2>Have an account ?</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit</p>
              <a routerLink="/login">LOG IN</a>
          </div>
          <div class="white">
              <form #f="ngForm" (ngSubmit)="save(f.value)">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input
                    *ngIf="appUser"
                    [disabled]= "true"
                    [value]="appUser.email"
                    name="email"
                    type="text"
                    id="email" 
                    class="form-control" 
                    placeholder="Email" 
                    required>
                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input 
                    ngModel 
                    name="password" 
                    id="password" 
                    type="password" 
                    class="form-control"
                    placeholder="Password"
                    required>
                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input 
                    ngModel
                    name="newPassword"
                    id="newPassword" 
                    type="password" 
                    class="form-control"  
                    placeholder="New Password"
                    required>
                </div>
                <button type="submit" [disabled]= "!f.valid" class="btn btn-primary signUp">Sign Up</button>
              </form>
          </div>
      </div>
  </div>