* {
  box-sizing: border-box;
  direction: rtl;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 500px;
}

.subject {
  margin-top: 30px;
}

a {
  text-decoration: none;
}

form {
  margin-top: 20px;
}

.form-control {
  margin-right: 25px;
  width: 96%;
  margin-bottom: -7px;
}

.form-horizontal .control-label {
  margin: 0 28px 8px 0;
}

/* Float four columns side by side */
.column {
  float: right;
  width: 25%;
  padding: 0 10px;
  cursor: pointer;
}

.column:hover {
  transform: scale(1.05, 1.05);
  transition: ease-in-out .4s;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
