<div class="container">
  <div class="row">
    <div class="main">
      <h1>لوحه التحكم  في البيانات</h1>
      <ol>
        <li><a routerLink="/admin-subject">البيانات الخاصه بالمواد الدراسيه ( اضافه - تعديل - حذف )</a></li>
        <li><a routerLink="/admin-question">البيانات الخاصه بالاستبيان ( اضافه - تعديل - حذف )</a></li>
        <li><a routerLink="/admin-user">البيانات الخاصه بالمستخدمين ( اضافه - تعديل - حذف )</a></li>
        <li><a routerLink="/admin-survey">الحصول علي نتائج الاستبيانات</a></li>
        <!-- <li><a routerLink="">مسح الاستبيانات التي تم تسجلها بواسطه المستخدمين</a></li> -->
      </ol>
    </div>
  </div>
</div>
  