<!-- Start banner -->
<div class="banner">
    <div class="container-fluide">
        <div class="banner-content">
            <div class="banner-text">
                <h1>" نحن جميعا بحاجة إلى الناس الذين سوف يقدمون لنا ردود الأفعل. هكذا نحسّن "</h1>
                <p>الحصول على الإجابات التي تحتاجها</p>
                <a routerLink="/survey" class="getstart" href="###">البدء</a>
            </div>
        </div>
    </div>
</div>
<!-- End banner -->

<!-- Start Feature -->
<section class="feature-area">
    <div class="container">
        <div class="feature">
            <div class="feature-content">
                <h2>Awesome Feature</h2>
                <p>Replenish man have thing gathering lights yielding shall you</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <div class="docs text-left">
                                <span class="content_icon icon-lecturer color_1">&nbsp;</span>
                            <h4>هيئه التدريس</h4>
                            <p>
                                يقوم عضو هيئه التدريس بإضافه الخطه السنويه و التقرير الفصلي عما قام بإنجازه من الخطة و
                                إدخال التوصيفات و التقارير المطلوبة منه
                                وأيضاً الاطلاع علي نتيجة رأي الطلاب في آدائه التدريسي
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <div class="docs text-left">
                                <i class="fa fa-user-graduate"></i>
                            <h4>الطالب</h4>
                            <p>يقوم الطلاب بالدخول للنظام للإجابة علي الاستبيانات المختلفه و كذلك الاستبيانات الخاصه
                                بالعملية التعليمية</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">

                        <div class="docs text-left">
                                <i class="fa fa-book"></i>
                            <h4> المقررات و البرامج</h4>
                            <p>
                                يتم إدخال توصيفات وتقارير المقررات و البرامج ويتم الاحتفاظ بها وسهوله استرجعها دون تفريغ
                                كميات هائله من الأوراق مع امكانيه الحصول علي مختلفة من التوصيف
                                لنفس المقرر و البرنامج
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Feature -->

<!-- Start Quality representative -->
<section class="quality">
    <div class="container">
        <div class="row">
            <div class="quality-image col-lg-5 ">
                <!-- <img src="./image/nik-macmillan-280300-unsplash.jpg" width="400px" height="300px"> -->
            </div>
            <div class="quality-description col-lg-7 text-left">
                <h4>الإستبيانات :</h4>

                <p>نظراً للدور الهام الذي تمثله نظم المعلومات الإدارية في رفع كفاءة العمل داخل أي مؤسسة مما يوفر جهد
                    ووقت العاملين بالمؤسسة، وتقديم التقارير والإحصائيات والمؤشرات والتنبؤات التي تدعم اتخاذ القرار على
                    مستوى الإدارة العليا بالمؤسسة. ونظراً لرغبتنا في تحقيق الاستفادة القصوى من للجامعات والكليات التى
                    يتم تطبيق النظام بها، وحيث أن العاملين على النظام هم أقدر من يقوم بتقييمه ووتقييم مدى الاستفادة منه.
                    فإنه يشرفنا أن نقوم بعمل استبيان لنظام الفارابى التي تشمل مجموعة أسئلة لتقييم أداء النظام وذلك
                    لمعالجة أي وجه من أوجه القصور في النظام، وكذلك التعرف على احتياجات المستخدمين والتي سوف تساعد على
                    رفع كفاءة العمل الإداري بالجامعة ودعم اتخاذ القرار على مستوى الإدارة العليا . لذا نرجو من سيادتكم
                    الدخول على هذا الاستبيان وإجابته حتى تحقق الأهداف المرجوة منه</p>

            </div>
        </div>
        <div class="row">
            <div class="quality-description-1 col-lg-7 text-left">
                <h4>التقارير و الإحصائيات :</h4>
                <p>
                    يقوم النظام بإستخرج التقارير و الإحصائيات بشكل مختصر و شامل و مبسط لم تم إدخاله من بيانات كما يتم
                    إستخراج هذي الإحصائيات في صوره رسومات بيانية
                    و كذلك يمكن قياس أداء العاملين علي النظام
                </p>

            </div>
            <div class="quality-image-1 col-lg-5">
                <!-- <img src="./image/nik-macmillan-280300-unsplash.jpg" width="400px" height="300px"> -->
            </div>
        </div>
    </div>

</section>

<!-- Start Quality representative -->