body {
  background-color: #eee;
}

.profile-body {
  margin-top: 100px;
  color: #002347;
  min-height: 400px;
  margin-bottom: 100px;

}

@media (max-width:992px) {
  .profile-body {
    margin-top: 20px;
  }
}

.profile-body .photo {
  background-color: #fff;
  padding: 25px;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.9);
  width: 25%;
  margin-left: 40px;
}

.profile-body .photo img {
  border-radius: 50%;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width:1200px) {
  .profile-body .photo img {
    width: 180px;
    height: 180px;
  }
}

.profile-body .photo h3 {
  margin-top: 50px;
}

.profile-body .info {
  background-color: #fff;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.9);
  margin-left: 50px;
  padding: 25px;
  height: 360px;
}

@media (max-width:992px) {
  .profile-body .info {
    margin: 20px 0px;
  }
}

@media(max-width:576px) {
  .profile-body .info {
    text-align: center;
  }
}

.profile-body .info .cap {
  font-weight: bold;
}

.profile-body .info li {
  font-size: 20px;
  list-style: none;
  margin-bottom: 20px;
}

@media(max-width:576px) {
  .profile-body .info li {
    text-align: center;
  }
}

.profile-body i {
  margin: 20px 0;
}

.profile-body i span {
  font-weight: bold;
}

.profile-body .left {
  margin-left: 20px;
  width: 40%;
  float: left;
}

@media (max-width:576px) {
  .profile-body .left {
    margin-left: 20px;
    width: 80%;
    text-align: center;
  }
}

.profile-body .right {
  width: 50%;
  margin-left: 30px;
  float: right;
}

@media (max-width:576px) {
  .profile-body .right {
    margin-left: 20px;
    width: 80%;

  }
}

img {
  width: 228px;
}
